@import "style.css";

h1 {
    color: #4EEA01;
    font-size: 4rem;
}

.container {
    width: 80%;
}

.text-block {
    top: 20%;
    padding-left: 8%;
}

.contact-table {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

input, #main {
    display: block;
    background: #37393b;
    box-sizing: border-box;
    border: none;
    font: 20px "Open Sans";
    color: white;
    margin: 10px 10px 0 0;
    width: inherit;
}

input {
    padding: 15px 20px 10px 10px;
}

#main {
    padding: 15px 20px 10px 10px;
    margin: 10px 10px 0 0;
    position: relative;
    flex-grow: 2;
    height: inherit;
}

.row1 input, .row2 input, .submit {
    height: 50px;
}

.row1 input {
    flex-grow: 1;
}

.row2 input {
    flex-grow: 2;
}

.row3 {
    height: 300px;
}

.submit {
    padding: 0;
    color: #4EEA01;
    font-size: 2em;
    border: 3px solid #4EEA01;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    margin-top: 30px;
    width: 200px;
}

.submit:hover {
    color: black;
    background: #4EEA01;
}