@import "style.css";

.greetings {
    font-size: 70px;
    line-height: 70px;
}

.skills {
    font-size: 150%;
    float: top;
    color: #9B9B9B;
}


.text-block .greetings:hover, .skills:hover {
    cursor: default;
}

.contact_button {
    color: #4EEA01;
    font-size: 2em;
    padding: 6px 15px;
    border: 3px solid #4EEA01;
    text-decoration: none;
    background: none;
    border-radius: 5px;
}

.contact_button:hover {
    color: black;
    background: #4EEA01;
}

.background{
    z-index: 0;
    width: 700px;
    height: 965px;
    overflow: hidden;
    position: absolute;
    padding-left: 700px;
    top: 0;
    left: 5%;
}

.background img{
    float: right;
    width: inherit;
    height: inherit;
}
