@charset "UTF-8";

@font-face {
    font-family: "MainFont";
    font-style: normal;
    src: url("../fonts/heading.otf");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    src: url("../fonts/OpenSans.ttf");
}

html {
    font-size: 14px;
}

body {
    background: rgba(31,32,33,0.98);
    font: 1em "Open Sans";
    color: white;
}

.nav_bar {
    background: rgba(24,24,24,0.98);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 90px;
    height: 100%;
    min-height: 500px;
}

.menu {
    position: absolute;
    top: 30%;
}

.menu ul {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    list-style: none;
    padding: 10px;
}

.menu li {
    margin: 10px 0 0 0;
}

.menu a {
    display: block;
}

.container {
    z-index: 1;
    padding-left: 90px;
    position: absolute;
    height: 100%;
}

.text-block {
    will-change: contents;
    position: relative;
    padding-left: 30px;
    top: 35%;
}

.greetings {
    font-size: 3em;
    line-height: 2em;
}

.greetings h1 {
    margin: 0;
}

.skills {
    font-size: 150%;
    float: top;
    color: rgba(158,158,158,0.98);
}

.contact_button {
    color: rgba(79,239,0,0.98);
    font-size: 2em;
    padding: 6px 15px;
    border: 3px solid rgba(79,239,0,0.98);
    text-decoration: none;
    background: none;
    border-radius: 5px;
}

.contact_button:hover {
    color: black;
    background: rgba(79,239,0,0.98);
}

.background{
    z-index: 0;
    width: 700px;
    height: 965px;
    overflow: hidden;
    position: absolute;
    padding-left: 700px;
    top: 0;
    left: 5%;
}

.background img{
    float: right;
    width: inherit;
    height: inherit;
}
