@charset "UTF-8";

@font-face {
    font-family: "MainFont";
    font-style: italic;
    src: url("../fonts/heading.otf");
}

@font-face {
    font-family: "MenuFont";
    font-style: italic;
    src: url("../fonts/menu.ttf");
}

html {
    font-size: 18px;
}

body {
    font: 1.5em "MainFont";
    padding: 0 auto;
    margin: 0;
    color: white;
}

h1 {
    font: 6rem "MainFont";
    color: blanchedalmond;
    margin: 0;
}

.p {
    text-indent: 20px;
}

a {
    color: blanchedalmond;
    text-decoration-color: white;
}

a:hover {
    color: burlywood;
    text-decoration-color: blanchedalmond;
}

hr {
    margin: 0;
    height: 6px;
    border: 0;
}

.top {
    height: 200px;
    width: auto;
    background: black;
}

.top p {
    position: absolute;
    top: 100px;
    margin: 0 10px;
    font: 3rem "MainFont";
    font-style: italic;
}

.menu ul {
    display: -webkit-flex;
    display: flex;
    justify-items: flex-start;
    background: white;
    list-style: none;
    margin: 0;
}

.menu a {
    font: 2rem "MenuFont";
    color: black;
    text-decoration: none;
    padding: 1em;
    display: block;
}

.menu a:hover {
    background: rgba(238,162,53,0.98);
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: white;
}

.border {
    size: auto;
    color: black;
}

.border img {
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    height: auto;
    background: black;
    color: white;
}

.article {
    margin-left: 1em;
    margin-right: 1em;
}

.content iframe {
    margin: 70px 0 0 30px;
}

.main [href]::after{
    content: "⤴";
}
