<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="author" content="Anton Prinzevski">
    <meta name="description" content="SEO here">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/node_modules/jbox/Source/jBox.css">
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="nav_bar">
        <div class="menu">
            <ul>
                <li><a id="homepage_link" href="{{ url_for('homepage') }}"><img id="homepage_pic" src="../static/images/menu/normal/homepage.png"></a></li>
                <li><a id="info_link" href="{{ url_for('info_page') }}"><img id="info_pic" src="../static/images/menu/normal/about_me.png"></a></li>
                <li><a id="skills_link" href="{{ url_for('skills_page') }}"><img id="skills_pic" src="../static/images/menu/normal/skills.png"></a></li>
                <li><a id="work_link" href="{{ url_for('work_page') }}"><img id="work_pic" src="../static/images/menu/normal/work.png"></a></li>
                <li><a id="contacts_link" href="{{ url_for('contacts_page') }}"><img id="contacts_pic" src="../static/images/menu/normal/contacts.png"></a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        {% block container %}
        <div class="text-block">
            {% block text_block %}
            {% endblock %}
        </div>
        {% endblock %}
    </div>
    {% endblock %}
</body>
<script src="../static/node_modules/jquery/dist/jquery.min.js"></script>
<script src="../static/node_modules/jbox/Source/jBox.min.js"></script>
<script src="../static/scripts/menu.js"></script>
{% block js_scripts %}
{% endblock %}
</html>