{% extends "base.html" %}
{% block title %}Мои контакты{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/styles/contacts.css">
{% endblock %}
{% block text_block %}
<h1>Связаться со мной</h1>
<form action="" method="post" name="contact" class="contact-table">
    {{ form.hidden_tag() }}
    <ul class="row row1">
        {{form.name}}
        {{form.mail}}
    </ul>
    <ul class="row row2">
        {{form.subject}}
    </ul>
    <ul class="row row3">
        {{form.main}}
    </ul>
    <input class="submit" type="submit" value="Отправить">
</form>
{% endblock %}
{% block js_scripts %}<script src="../static/scripts/contacts.js"></script>{% endblock %}