{% extends "base.html" %}
{% block title %}Обо мне{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/styles/info.css">
{% endblock %}
{% block text_block %}
<h1>Обо мне</h1>
<p>Я <strong>Принцевский Антон</strong>, программист на
    <strong>python</strong> и <strong>веб-разработчик</strong>.</p>
<p>Я начал увлекаться разработкой простых устройств и проектированием
    в начальных классах, а программированием - в средних. Мне
    с самого раннего детства нравилось сочетание точных наук и творчества.
    А программирование, по своей сути, это смесь воображения, синтаксиса языка и
    математики. </p>
<p>Я начал изучать программирование с языка <b>python</b>,
    так как <b>Pascal ABC</b>, столь распространённый среди изучающих
    программирование в России, на данный момент не имеет практического
    применения. С обучением мне помогал мой брат,
    <strong><a title="Магистр Йода" href="https://vk.com/dr2866">Илья Hexenhammer</a>.</strong></p>
{% endblock %}
{% block body %}
{{ super() }}
<div class="hologram">
    <img src="../static/images/hologram/green.png">
</div>
{% endblock %}
{% block js_scripts %}<script src="../static/scripts/info.js"></script>{% endblock %}