{% extends "base.html" %}
{% block title %}Мои навыки{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/styles/skills.css">
{% endblock %}
{% block text_block %}
<h1>Мои навыки & опыт</h1>
<div class="info_cell">
    <h3>Telegram боты</h3>
    <span class="about">Реализованные напопулярной и развивающейся библиотеке
        python-telegram-bot, выполненные мной боты являются удобными в использовании
        и модернизации.</span>
    <div class="button_container">
        <a class="button" href="">Заказать</a>
        <span class="info price">2500</span>
        <span class="info">1-3 недели</span>
    </div>
</div>
<div class="info_cell">
    <h3>Arduino smart home</h3>
    <span class="about">Модули умного дома, сделанные на микроконтроллере Arduino -
        пожалуй, наиболее просты в обслуживании и сборке. С помощью Arduino
        можно реализовать почти всё, что угодно, поэтому любой модуль можно будет
        усовершенствовать или изменить до неузнаваемости. Несмотря на то,
        что возможности Arduino очень обширны, а заказы я выполняю по точному
        описанию необходимого продукта, можно привести данные примеры:
    </span>
    <ul>
        <li>Автоматические жалюзи;</li>
        <li>Контроль освещения с помощью звуков или движения;</li>
        <li>Автоматическое выращивание растений.</li>
    </ul>
    <span class="about">Стоит заметить, что в отличие от безпроцессорных
        модулей, данные имеют достаточную вычислительную мощность, для
        выполнения нескольких задач вместо одной.</span>
    <div class="button_container">
        <a class="button">Заказать</a>
        <span class="info price">800-... </span>
        <span class="info">3-... дней</span>
    </div>
    <div class="button_container">
        <a class="button">Заказать</a>
        <span class="info price">5000-... </span>
        <span class="info">3-5 недель</span>
    </div>
</div>
{% endblock %}
{% block js_scripts %}<script src="../static/scripts/skills.js"></script>{% endblock %}