{% extends "base.html" %}
{% block title %}Мои проекты{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/styles/work.css">
{% endblock %}
{% block body %}
{{ super() }}
<div class="magic_wall">
    <ul class="gallery">
        <li class="hover_element">
            <div class="window_elem0">
                <img class="pic" src="../static/images/gallery/greenhouse.jpg">
                <span class="title0">Система автоматического выращивания растений GreenHouse</span>
                <span class="content0">Тут должен быть текст</span>
            </div>
        </li>
        <li class="hover_element">
            <div class="window_elem1">
                <img class="pic" src="../static/images/gallery/medicine_bot.jpg">
                <span class="title1">Медицинский telegram бот</span>
                <span class="content1"><img src="../static/images/gallery/modal_windows/medicine_bot.png">
                </span>
            </div>
        </li>
    </ul>
</div>
{% endblock %}
{% block js_scripts %}<script src="../static/scripts/work.js"></script>{% endblock %}